**Problem 1** *2 points*

 Write a Python function that takes a number as a parameter and check the number is prime or not. <br>
__Note__ : <br>
 A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

In [0]:
#your code here
 

num = 407

# To take input from the user
#num = int(input("Enter a number: "))
def test_prime(n):
  # prime numbers are greater than 1
  if num > 1:
    # check for factors
    for i in range(2,num//2):
        if (num % i) == 0:
            return False
            
            break
    else:
        return True
        
  # if input number is less than
  # or equal to 1, it is not prime
  else:
    return  False

**Problem 2** *3 points*

Write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included).

In [0]:
def squares():
  print([i**2 for i in range(1,31)])
squares()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

**Problem 3**  *6 points*

Lily has a chocolate bar that she wants to share it with Ron for his birthday. Each of the squares has an integer on it. She decides to share a contiguous segment of the bar selected such that the length of the segment matches Ron's birth month and the sum of the integers on the squares is equal to his birth day. You must determine how many ways she can divide the chocolate.

Consider the chocolate bar as an array of squares, s=[2,2,1,3,2] . She wants to find segments summing to Ron's birth day, d=4 with a length equalling his birth month, m=2 . In this case, there are two segments meeting her criteria: [2,2] and [1,3] .

Function Description

Complete the birthday function in the editor below. It should return an integer denoting the number of ways Lily can divide the chocolate bar.

birthday has the following parameter(s):

s: an array of integers, the numbers on each of the squares of chocolate

d: an integer, Ron's birth day

m: an integer, Ron's birth month

Input Format


The first line contains an integer n, the number of squares in the chocolate bar.
The second line contains n space-separated integers s[i], the numbers on the chocolate squares.
The third line contains two space-separated integers, d and m, Ron's birth day and his birth month.

In [0]:
#your code here
def birthday(s, m, d):
    k = 0
    for i in range(len(s)-m+1):
        if sum(s[i:i + m]) == d:
            k += 1
    return k

n = int(input())
s = list(map(int, input().split()[:n]))
d, m = list(map(int, input().split()))
print(birthday(s, m, d))

**Problem 4**   *2 points*

Create a function that takes a required argument ​name​ of type String and an optional argument ​greeting​ with a default value “Welcome to our company!”. The function prints“​name​, ​greeting​”, using the values of the arguments ​name​ and ​greeting​.

In [3]:
#your code here
def hi(name = "Jim", greeting = "Welcome to our company!"):
  return f"{name}, {greeting}"
print(hi(greeting = "HI"))

Jim, HI

In [6]:
def sample(age = 12, name = "Jim"):
  return age, name
sample(name = "Kim" )

(12, 'Kim')

**Problem 5** *3 points*

Create a function that gets a list as an argument and returns a new list, which contains only the unique values from the original list.

In [0]:
def unique(some_list):
  return list(set(some_list))
unique(["1", "1", 1,5,7,1,5,7,1,2,3,4,5,1])

[1, 2, 3, 4, 5, 7, '1']

ERROR! Session/line number was not unique in database. History logging moved to new session 59

__Problem 6__ *5 point*

You are given a list, which items are ``tuple`` from ``list``s:

``items = [('one', 'two'), ('three', 'four'), ('five', 'six'), ('string', 'a')]``


We want to sort that list, by last letter of second item for each ``tuple`` i.e get such list:

``sorted_items = [('string', 'a'), ('one', 'two'), ('three', 'four'), ('five', 'six')]``.
What should we put isntead of "###" in this code, for such sorting?

``sorted_items = sorted(items, key=lambda x: ###)``

In [0]:
items = [('one', 'two'), ('three', 'four'), ('five', 'six'), ('string', 'a')]

sorted_items = sorted(items, key=lambda x: x[1][-1]) 
                      
assert sorted_items == [('string', 'a'), ('one', 'two'), ('three', 'four'), ('five', 'six')], \
"Something is wrong! Please try again"

ERROR! Session/line number was not unique in database. History logging moved to new session 60