__Problem 1__ *3 Points*

Write a function which will find the sum of even numbers on a diagonal of a sqaure matrix. If there is no even numbers, return `0`.

__Sample Input__

```
array([[7, 8, 6, 4, 3],
       [5, 3, 4, 8, 2],
       [5, 7, 3, 9, 3],
       [8, 4, 5, 6, 6],
       [6, 7, 4, 6, 4]]) 
```
__Sample Output__

``10``

In [0]:
import numpy as np
def diag_2k(a):
    #param a: np.array[size, size]
    #YOUR CODE
    result = # your code
    return result

__Problems 2__ *8 Points*

​
Задан двумерный массив $X$. Для каждой строчки массива X необходимо сделать следующее преобразование.

Пусть дана строчка x. Необходимо построить новый массив, где все элементы с нечетными индексами требуется заменить на число a (значение по умолчанию a=1). Все элементы с четными индексами нужно возвести в куб. Затем записать элементы в обратном порядке относительно их позиций. В конце требуется слить массив xс преобразованным xи вывести.

Напишите функцию, которая выполняет данное преобразование для каждой строчки двумерного массива X. Массив X при этом должен остаться без изменений.

Используйте библиотеку numpy.

Пример:
$X = [[100,200,300,400,500]]$ -> $[[100,a,300,a,500]]$ -> $[[500^3,a,300^3,a,100^3]]$ -> склеиваем -> $[[100,200,300,400,500,500^3,a,300^3,a,100^3]]$

​

In [0]:
import numpy as np

def transform(X, a=1):
    """
    param X: np.array[batch_size, n]
    """
    # YOUR CODE 
    
    return

__Problem 3__ *10 Points*

Написать функцию для кодирование массива (Run-length encoding). Все подряд повторения элементов функция сжимает в один элемент и считает количество повторений. Функция возвращает кортеж из двух векторов одинаковой длины. Первый содержит элементы, а второй — сколько раз их нужно повторить. 

Пример: encode(np.array([1, 2, 2, 3, 3, 1, 1, 5, 5, 2, 3, 3])) = (np.array[1, 2, 3, 1, 5, 2, 3]), np.array[1, 2, 2, 2, 2, 1, 2])

In [0]:
import numpy as np

def encode(a):
    #YOUR CODE
    from itertools import groupby  # it may help you

    return

__Problem 4__ *5 Points*

Write a function to get the common items between ``a`` and  ``b``

__Sample Input__ 
```
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
```
__Sample Output__

```array([2, 4])```

In [0]:
def common(a, b):
  # your code

__Problem 5__ *5 Points*

__All Following problems refer to given data__

Please fill values in given [form](https://drive.google.com/open?id=1hK4k0lFoZFync5mttScEJ002sMtA0bQceh0z8GdXvxY)

### DATA: https://drive.google.com/open?id=1il9RDoxwrgUjoOqd9yvdV760_M1AvziI

In [0]:
import pandas as pd
data = pd.read_csv('https://drive.google.com/uc?id=1il9RDoxwrgUjoOqd9yvdV760_M1AvziI')

**0).** Сколько всего возрастных категорий?

In [0]:
# Ваш код здесь

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [0]:
# Ваш код здесь

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [0]:
# Ваш код здесь

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [0]:
# Ваш код здесь

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [0]:
# Ваш код здесь

---