### More on Lists

In [0]:
L = [1,2,3]
print(L*3)
print(L+[4,5])

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 4, 5]

In [0]:
print(L)

[1, 2, 3]

In [0]:
L[1] = 4

In [0]:
print(L)

[1, 4, 3]

In [0]:
print(1 in L)
print(1  not in L)

True
False

In [0]:
# some functions
len(L) # length of list

3

In [0]:
#append value(s) to list
L.append(5)
print(L)

[1, 4, 3, 5]

In [0]:
L.append([6,7])
print(L)

[1, 4, 3, 5, [6, 7]]

In [0]:
# but I wanted to add 6 and 7 to list
L.extend([6,7])
print(L)

[1, 4, 3, 5, [6, 7], 6, 7]

In [0]:
# insert for given index new value
L.insert(0, 10)
print(L)

[10, 1, 4, 3, 5, [6, 7], 6, 7]

In [0]:
# get index of item
L.index(4)

2

In [0]:
# Return number of occurrences of value.
L.count(6)

1

In [0]:
# delete item
del L[5]

In [0]:
print (L)

[10, 1, 4, 3, 5, 6, 7]

In [0]:
L.sort()
print(L)

[1, 3, 4, 5, 6, 7, 10]

In [0]:
# delete by index
L.pop(-1)
print(L)

[1, 3, 4, 5, 6, 7]

In [0]:
# delete by value
L.remove(3)
print(L)

[1, 4, 5, 6, 7]

In [0]:
L[1:] = [20,22]

In [0]:
print(L)

[1, 20, 22]

In [0]:
B = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
print(B[::2])
print(B[0:len(B):2])

[1, 3, 5, 7, 9, 11, 13]
[1, 3, 5, 7, 9, 11, 13]

In [0]:
numbers = list(range(10))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
print(range(10)) 
import sys 
#System-specific parameters and functions
print(sys.getsizeof(range(10)), sys.getsizeof(list(range(10)))) # Return the size of an object in bytes

range(0, 10)
48 200

In [0]:
print(list(range(1,15,2)))

[1, 3, 5, 7, 9, 11, 13]

In [0]:
a, b, c, d, e, f = range(6)

In [0]:
print(a, b, c, d, e, f)

0 1 2 3 4 5

In [0]:
seq = list(range(5))

In [0]:
a, *b = seq
print(a, b, sep= "\n")

0
[1, 2, 3, 4]

In [0]:
a, b = seq[0], seq[1:]
print(a, b, sep= "\n")

0
[1, 2, 3, 4]

In [0]:
# lists in list are called nested lists
matrix = [ [1,2,3],
           [4,5,6]]
print(matrix)

[[1, 2, 3], [4, 5, 6]]

## For Loops

In [0]:
"""for target in object: # Assign object items to target
    statements # Repeated loop body: use target
else: # Optional else part
    statements # If we didn't hit a 'break'"""

In [0]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [0]:
# dummy iterator 
for _ in range(5):
    print("Hello world!")

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

In [0]:
sum(2 for _ in range(6))

12

In [0]:
a, _, b = 1,(2,3,4),5
print(a)
print(b)
print(_)
# _ is I don't care variable

1
5
(2, 3, 4)

In [0]:
#  lets compute the sum of lists' item
sum_lst = 0
for x in [1,2,3,4]:
    sum_lst +=x
    print("Sum at ", x, "iteration: ", sum_lst)
print("Final sum: ", sum_lst)

Sum at  1 iteration:  1
Sum at  2 iteration:  3
Sum at  3 iteration:  6
Sum at  4 iteration:  10
Final sum:  10

In [0]:
# compute factorial
n = int(input("Enter number: "))
prod = 1
for i in range(1,n+1):
    prod *=i
print("Factorial of ", n, "=", prod)

Enter number: 14
Factorial of  14 = 87178291200

In [0]:
sample_string = "I love Python"
for i in sample_string: print(i, end = ",")

I, ,l,o,v,e, ,P,y,t,h,o,n,

In [0]:
# tuple assignment 
T = [(1, 2), (3, 4), (5, 6)]
for (a, b) in T: 
    print(a, b)

1 2
3 4
5 6

In [0]:
list1 = list(range(1,11,2 ))
list2 = list(range(2,11,2))
print(list(zip(list1, list2)))

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]

In [0]:
for a, b in zip(range(10), range(10,20)):
    print( (a, b))

(0, 10)
(1, 11)
(2, 12)
(3, 13)
(4, 14)
(5, 15)
(6, 16)
(7, 17)
(8, 18)
(9, 19)

In [0]:
# list comprehension

In [0]:
res = []
L = range(5)
for x in L:
    res.append(x + 10)

print(res)

[10, 11, 12, 13, 14]

In [0]:
res = [x+10 for x in L]
print(res)

[10, 11, 12, 13, 14]

In [0]:
# counter for for loops
S = 'spam'
offset = 0
for item in S:
    print(item, 'appears at offset', offset)
    offset += 1

s appears at offset 0
p appears at offset 1
a appears at offset 2
m appears at offset 3

In [0]:
S = 'spam'
for (offset, item) in enumerate(S):
    print(item, 'appears at offset', offset)

s appears at offset 0
p appears at offset 1
a appears at offset 2
m appears at offset 3

In [0]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print( n, 'equals', x, '*', n/x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

## Functions

In simple terms, a function is a device that groups a set of statements so they can be run
more than once in a program
There is a 2 ways to define a function in python , **def** and  **lambda**

def is executed at **runtime**<br>
if test:<br>
&emsp; def func(): # Define func this way </t> <br>
&emsp;...<br>
else:<br>
&emsp;def func(): # Or else this way<br>
&emsp;...<br>
&emsp;...<br>
func() # Call the version selected and built<br>

function's statements are not evaluated untill the function is later called

In [0]:
def func():
  sdfsfgf

In [0]:
func()

NameError: ignored

In [0]:
def times(m, n):
  return m*n
times(2,3)

6

In [0]:
result = times(6,2.4)
print(result, type(result))

14.399999999999999 <class 'float'>

In [0]:
times("x", 4)

'xxxx'

In [0]:
def firstfunc(username):
    if isinstance(username, str):
        print ("Hey", username + '!')
        print (username + " , How are you?")
    else:
        print('wrong input')

In [0]:
firstfunc("Mher")

Hey Mher!
Mher , How are you?

In [0]:
def some_func():
  for i in range(10):
    print(i, end = ",")

In [0]:
some_func()

0,1,2,3,4,5,6,7,8,9,

In [0]:
some_func(10)

TypeError: ignored

In [0]:
def defaultArg( age, name = "Narek"):
    print("Hello, " + name)
    print(name+"'s age is ", age)

In [0]:
defaultArg(20)

Hello, Narek
Narek's age is  20

In [0]:
defaultArg(45,"Ashot")

Hello, Ashot
Ashot's age is  45

In [0]:
defaultArg("Aram", 20)

TypeError: ignored

In [0]:
defaultArg(name = "Vardan", age =19 )

Hello, Vardan
Vardan's age is  19

def func(*iterable)

In [0]:
def test_func(*argv):
    #print(type(argv))
    for arg in argv:
        print("another arg in *argv:", arg)
test_func("python", "c++", "jave")

another arg in *argv: python
another arg in *argv: c++
another arg in *argv: jave

In [0]:
def test_func(a1, *argv):
    print(a1)
    for arg in argv:
        print("another arg in *argv:", arg)
test_func("python", "c++", "jave")

python
another arg in *argv: c++
another arg in *argv: jave

def func(**dictionary)

In [0]:
def test_func(**kwargs):
    print(type(kwargs))
    print(kwargs)
    print(kwargs.items())
    for key, value in kwargs.items():
        print("key:", key, ", value:", value)

In [0]:
test_func(name=["Alice", 'lala'], lname = "lala")

<class 'dict'>
{'name': ['Alice', 'lala'], 'lname': 'lala'}
dict_items([('name', ['Alice', 'lala']), ('lname', 'lala')])
key: name , value: ['Alice', 'lala']
key: lname , value: lala

In [0]:
def test_func(*args, **kwargs):
    for arg in args:
        print("in args: ", arg)
    for key, value in kwargs.items():
        print("in kwargs: ", "key:", key, ", value:", value)
test_func(1, 2, 3, name="Alice")

in args:  1
in args:  2
in args:  3
in kwargs:  key: name , value: Alice

In [0]:
#returning multiple values
def func(l):
    highest = max(l)
    lowest = min(l)
    first = l[0]
    last = l[-1]
    return highest,lowest,first,last

In [0]:
my_list = [10,50,30,12,6,8,100]
func(my_list)

(100, 6, 10, 100)

In [0]:
a, b, c, d = func(my_list)
x = func(my_list)
print( ' a =',a,'\n b =',b,'\n c =',c,'\n d =',d)
print(x)
print("a = ", x[0])

 a = 100
 b = 6
 c = 10
 d = 100
(100, 6, 10, 100)
a =  100

### Function Docstring

In [0]:
def summary(x, y):
  """
  param: x: first number,
  param: y: second number,
  :return: sum of arguments
  """
  z = x+y
  return z

In [0]:
help(summary)

Help on function summary in module __main__:

summary(x, y)
    param: x: first number,
    param: y: second number,
    :return: sum of arguments

In [0]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [0]:
print(summary.__doc__)

  param: x: first number,
  param: y: second number,
  :return: sum of arguments

In [0]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

### Anonymous Functions: Lambda

If you want to reduce number of lines in your code use lambda expressions

In [0]:
z1 = lambda x: x**2

In [0]:
z1(8)

64

In [0]:
z2 = lambda x, y: x+y 
z2(6,4)

10

In [0]:
lower = (lambda x, y: x if x < y else y)

In [0]:
lower('bb', 'aa')

'aa'